<style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
    style {
        color: #161616;
    }
</style>
    

<div>
    <p style="font-size: 26px; margin-top: 2%; margin-left: 3%; font-family:'Raleway', sans-serif;;">Fashion</p>
    
</div>

<div style="display: flex; margin-right: -10%; margin-bottom: 10%; margin-top:-3%; margin-left: 20%; font-size: 12px; transform: translateY(-1.1em) scale(.75); width: 133.33333%;">
    
    <mat-form-field appearance='fill'>
        <mat-icon matPrefix>search</mat-icon>
        <mat-label style="font-size: 12px;">Search</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>
</div>

<div>
    <mat-icon></mat-icon>
    
    <div>
        WOMAN
    </div>
    <div>
        MAN
    </div>
    <div>
        DESIGNERS
    </div>
    <div>
        WISHLIST
    </div>
    <div>
        CART
    </div>
    
    <mat-icon></mat-icon>
</div>

<div>
    <div>Woman</div>
    <mat-icon></mat-icon>
    
    <div>Pastel Jacket With Bejewelled Collar</div>
</div>

<div>
    <mat-icon>Prev</mat-icon>
    <p>2 of 210</p>
    Next
    <mat-icon></mat-icon>

</div>
