.matchings{
    margin-top: 2%;
    margin-left: 1.65%;
}
.matchings li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 0.4em;
    padding: 0;
}

.matchings li img{
    width: auto;
    height: 275px;
}
.title{
    margin-top: 7%;
    margin-left: 4.55%;
    color: #161616;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 30px;
    src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEorCHPrEHJA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}